---
import type { HTMLAttributes } from "astro/types";

type AnchorProps = HTMLAttributes<"a"> & { type?: never };
type ButtonProps = HTMLAttributes<"button"> & { href?: never };

type Props = ButtonProps | AnchorProps;

const { href, class: className, ...rest } = Astro.props;
---

{
  href ? (
    <a
      href={href}
      class:list={[
        "inline-flex items-center justify-center rounded-full border px-6 py-2 leading-tight transition text-sm sm:text-base",
        "border-smoking-600 text-smoking-600 hover:bg-smoking-50",
        className,
      ]}
      {...rest}
    >
      <slot />
    </a>
  ) : (
    <button
      class:list={[
        "inline-flex items-center justify-center rounded-full border px-6 py-2 leading-tight transition text-sm sm:text-base",
        "border-smoking-600 text-smoking-600 hover:bg-smoking-50",
        className,
      ]}
      {...rest}
    >
      <slot />
    </button>
  )
}
