---
import siteConfig from "../site.config";

type SiteIdentityProps = {
  logoWidth?: number;
  logoHeight?: number;
  loading?: "eager" | "lazy";
  textSize?: "text-base" | "text-xl";
  class?: string;
};

const {
  logoWidth = 32,
  logoHeight = 32,
  loading = "eager",
  textSize = "text-base",
  class: customClass,
}: SiteIdentityProps = Astro.props;
---

<div class:list={["flex items-center gap-2", customClass]}>
 <!--  <img
    src={withBase("gnevarezrealtor-logo.png")}
    alt="Logo"
    width={logoWidth}
    height={logoHeight}
    loading={loading}
    class="block"
  /> -->
  <span class:list={[textSize, "uppercase tracking-[0.2em] text-white"]}>{siteConfig.title}</span>
</div>
